@import "./../../../sass/global.scss";

.AmountPerPage {
  select {
    background-color: white;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $safety-orange-blaze-orange;
      transition: all 0.3s;
    }
  }

}
