@import "./../../../sass/global.scss";

.Navbar {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
  height: 70px;
  background-color: $white;
  color: $white;
  position: relative; // aht burger-buttons absolute position
  padding: 0 1rem;
  box-shadow: inset 0 0 60px rgb(255, 255, 255),
  inset 20px 0 80px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
  margin-top: -35px;
  z-index: 1;
  border-radius: $ButtonRadius;

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  // burger til resposive
  .burger-button {
    display: none; // flex
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;

    .bar {
      height: 3px;
      width: 100%;
      background-color: $blackis;
      border-radius: 10px;
    }
  }

  // MENUEN
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

    .menuItem {
      transition: all 0.5s ease;

      .active {
        color: $safety-orange-blaze-orange;
      }
    }

    a {
      display: block;
      text-decoration: none;
      color: $blackis;
      padding: .5rem;
    }

    a:hover {
      color: $safety-orange-blaze-orange;
    }
  }

  .logoutContainer {
    display: flex;
    align-items: center;

    li {
      list-style-type: none;
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
    padding-left: 4px;
    li {
      list-style-type: none;
    }
  }
}

/* ------------------- breakpoints ------------------- */
/* DESKTOP */
@include desktop {
  .Navbar {
    width: 95%;
    flex-direction: column;
    align-items: flex-start;

    .burger-button {
      display: flex;
    }

    .navbar-container {
      height: 0; // skjul
      width: 100%;
      overflow: hidden;

      &.active {
        position: absolute;
        left: 0;
        right: 0;
        top: 4rem;
        height: 300px;
        background-color: $onyx;
      }
    }

    ul {
      width: 100%;
      flex-direction: column;

      li {
        text-align: start;
      }
    }

    .logoutContainer {
      flex-direction: column;
    }

    .searchContainer {
      position: absolute;
      top: 0;
      right: 1rem;
      padding-top: 0.35rem;
    }
  }
}
