@import "./../../../sass/global.scss";

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(130, 122, 122);
  color: white;
  position: relative; // aht burger-buttons absolute position
  padding: 0 1rem;

  // Brand
  .navbar-brand {
    font-size: 1.5rem;
    margin: 0.5rem;
    text-decoration: none;
    color: white;
  }

  // burger til resposive
  .burger-button {
    display: none; // flex
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;

    .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
      transition: all 1s ease;
    }

    &.open .bar1 {
      transform: rotate(-45deg) translate(-5px, 5px);
    }

    &.open .bar2 {
      opacity: 0;
    }

    &.open .bar3 {
      transform: rotate(45deg) translate(-7.5px, -7.5px);
    }
  }

  // MENUEN
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    .menuItem {
      transition: all 0.5s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }

      .active {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    a {
      display: block;
      text-decoration: none;
      color: white;
      padding: 1rem;
    }
  }

  .logoutContainer {
    display: flex;
    align-items: center;

    li {
      list-style-type: none;
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
    padding-left: 4px;
    li {
      list-style-type: none;
    }
  }
}

/* ------------------- breakpoints ------------------- */
/* DESKTOP */
@include desktop {
  .Navbar {
    flex-direction: column;
    align-items: flex-start;

    .burger-button {
      display: flex;
    }

    .navbar-container {
      height: 0; // skjul
      width: 100%;
      overflow: hidden;
      transition: height 1s ease;

      &.active {
        height: 300px;
      }
    }

    ul {
      width: 100%;
      flex-direction: column;

      li {
        text-align: center;
      }
    }

    .logoutContainer {
      flex-direction: column;
    }

    .searchContainer {
      position: absolute;
      top: 0;
      right: 60px;
      padding-top: 0.35rem;
    }
  }
}

/* PHONE */
@include mobile {
  
}
