// FARVER
$eerie-black: #222222ff;
$star-command-blue: #337ab7ff;
$onyx: #343742ff;
$independence: #474b5aff;
$dim-gray: #676a73ff;
$sonic-silver: #777777ff;
$gainsboro: #d4dae3ff;
$platinum: #e5e5e5ff;
$cultured: #f8f8faff;
$safety-orange-blaze-orange: #ff6600ff;
$black-shadows: #b7a4aaff;
$blackis: #000;
$white: #fff;
$spanish-red: #e80426ff;

// Fonts icons
$Fonts-use: "Flaticon";
$Font-fa: "FontAwesome";

.VoresService {
  font-family: $Fonts-use, Arial, Helvetica, sans-serif;
}

@import "./Fonts/flaticon";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("../../../Fonts/fontawesome-webfont.eot");
  src: url("../../../Fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("../../../Fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("../../../Fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("../../../Fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("../../../Fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}

// Til at placer i midden
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

//BorderRadius
$ButtonRadius: 5px;

/* ------------------- breakpoints ------------------- */
// Små enheder (landscape phones)
$widthPhone: 576px;
@mixin mobile {
  @media (max-width: #{$widthPhone}) {
    @content;
  }
}

// Medium enheder (tablets, 768px )
$widthTablet: 768px;
@mixin tablet {
  @media (max-width: #{$widthTablet}) {
    @content;
  }
}

// Store enheder (desktops, 900px)
$widthDesktop: 980px;
@mixin desktop {
  @media (max-width: #{$widthDesktop}) {
    @content;
  }
}

/* ------------------- breakpoints ------------------- */
/* DESKTOP */
@include desktop {
}

/* TABLET */
@include tablet {
}

/* PHONE */
@include mobile {
}
