@import "./../../sass/global.scss";

.ServiceId {
    grid-column: 2/-1;

    .textContainer {
        padding: 1rem 0;
    }

    .titleText {
        padding: 1rem 0;
    }

    .tesserText {
        padding: 1rem 0;
        color: $sonic-silver;
    }

    .contentText{
        font-family: 'Roboto';
        padding: 1rem 0;
        strong {
            font-weight: normal;
        }
        ul, ol {
            padding-left: 1rem;
        }
        em {
            font: unset;
        }
    }
}

/* ------------------- breakpoints ------------------- */
/* TABLET */
@include tablet {
    .Service {
        .wrapper {
            width: 90%;
        }
    }
}

/* PHONE */
@include mobile {
    .Service {
        .wrapper {
            padding: 4rem 1rem;
            width: 100%;
        }
    }
}
