@import "./../../sass/global.scss";

.ButtonToTop {
  .knaptilTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $safety-orange-blaze-orange;
    color: $white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;

    &:hover {
      background-color: $white;
      border: 1px solid $safety-orange-blaze-orange;
      span{
        color: $safety-orange-blaze-orange;
      }
    }
  }
}
