.AdminNavbar {
  width: 30%;
  background-color: rgb(23, 35, 56);
  min-height: 100vh;
  font-weight: 400;
  font-size: 1.2em;
  z-index: 9;
  overflow: hidden;

  ul {
    border-radius: 25px;
    background-color: rgb(27, 48, 67);
    text-decoration: none;
    list-style: none;
    display: block;
    margin: 10px 10px;
  }

  li {
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.75em;
    padding: 1.05em 1em;
    position: relative;
    display: block;
    &:hover {
      color: rgb(124, 173, 219);
      transition: 0.3s;
    }
    &.active {
      color: rgb(71, 135, 196);
      transition: 0.3s;
    }
  }
}
