@import "./../../sass/global.scss";

.SearchInput {
  
  .SeachContainer {
    position: absolute;
    height: 40px;
    width: 150px;
    right: 10px;
    top: 15px;
    overflow: hidden;
    border: 1px solid #d4dae3ff;
    border-radius: $ButtonRadius;

    input { 
      width: 100%;
      height: 100%;
      text-indent: 10px; 
      border: none;
      background-color: $white;
    }

    input::placeholder {
      color: $blackis;
    }

    .searchButton {
    position: absolute;
    right: 0;
    background-color: $white;
    text-align: center;
    padding: 7px 0;
    border: none;
    cursor: pointer;
   }
  }
}

