@import "./../sass/global.scss";

.Nyheder {
  margin-top: -35px;

  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 15%;
    background-color: $platinum;
    .titleText {
    }

    .breadcrumbContainer {
      ul.breadcrumb {
        list-style: none;
        display: flex;
        align-items: center;
      }
      ul.breadcrumb li {
        display: inline;
        font-size: 1rem;
      }

      span {
        transform: rotate(270deg);
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 4rem;

    .cardContainer {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 4rem 0;
    }

    .newsCard {
      position: relative;
      border-top-left-radius: $ButtonRadius;
      border-top-right-radius: $ButtonRadius;
      width: 310px;
      margin: 2% 1%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      .imageContainer {
        img {
          width: 100%;
          border-top-left-radius: $ButtonRadius;
          border-top-right-radius: $ButtonRadius;
        }
      }

      .dateContainer {
        position: absolute;
        clip-path: polygon(50% 64%, 100% 80%, 100% 0, 0 0, 0 79%);
        background-color: $safety-orange-blaze-orange;
        padding: 0.5rem 0.3rem 0 0.3rem;
        width: 3rem;
        height: 5rem;
        top: 1rem;
        left: 1rem;
        z-index: 1;
      }
      .dateText {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        color: $white;
      }

      .textContainer {
        padding: 1rem 1rem;

        h3 {
          padding-bottom: 1rem;
        }

        p {
          color: $sonic-silver;
        }
      }
    }

    .paginationContainer {
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      align-self: end;
    }

    .arkivContainer {
      padding: 8rem 0 0 1rem;
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      .cardArkiv {
        display: flex;
        padding: 1rem 0;
        border-bottom: 1px solid $gainsboro;
      }
      .imageContainerArkiv {
        padding-right: 1rem;
        img {
          border-radius: 0.6rem;
          height: 100px;
        }
      }

      .titleContainerArkiv {
        padding-bottom: 1rem;
      }
      .dateIconContainerArkiv {
        color: $sonic-silver;
        display: flex;
        align-content: center;
      }
      .iconContainer {
        padding-right: 1rem;
      }
    }
  }
}

/* ------------------- breakpoints ------------------- */
/* DESKTOP */
@include desktop {
  .Nyheder {
    .flexContainer {
      padding: 4rem 5%;
    }

    .wrapper {
      width: 90%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .arkivContainer {
        display: flex;
      }
      .paginationContainer {
        align-self: start;
      }
      .cardContainer {
        display: flex;
        justify-content: center;
      }
      .newsCard {
        width: 80%;
      }
    }
  }
}

@include tablet {
  .Nyheder {
    .wrapper {
      .cardContainer {
        display: flex;
        justify-content: center;
      }
    }
  }
}

/* PHONE */
@include mobile {
  .Nyheder {
    .wrapper {
    }
  }
}
