@import "./../sass/global.scss";

.Service {
  margin-top: -35px;

  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 15%;
    background-color: $platinum;

    .breadcrumbContainer {
      ul.breadcrumb {
        list-style: none;
        display: flex;
        align-items: center;
      }
      ul.breadcrumb li {
        display: inline;
        font-size: 1rem;
      }

      span {
        transform: rotate(270deg);
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    width: 70%;
    margin: 0 auto;
    padding: 4rem 0;

    .serviceCard {
      grid-column: 2/-1;

      .imageContainer {
        img {
          border-radius: 1rem;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .serviceListContainer {
      .serviceList {
        padding-bottom: 1rem;
        button {
          border-radius: $ButtonRadius;
          border-color: $gainsboro;
          padding: 1rem 0;
          width: 100%;
          display: flex;
            align-items: center;
            padding-left: 1rem;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            .icon {
              padding-left: 1rem;
            }         

          &:hover {
            background-color: $safety-orange-blaze-orange;
          }
        }
      }
    }
  }
}

