@import "./../../../sass/global.scss";

.Header {
  background-color: $onyx;
  padding: 2rem 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  
  .contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
  }
  // Brand
  .navbarBrand {
    text-decoration: none;
  }

  .contaktInfomationBox {
    color: $white;
  }

  .infoContainer {
    display: flex;
    flex-wrap: wrap;

    .infoContent {
      margin-left: 2rem;
      display: flex;
      align-items: center;
    }

    p {
      padding: 0 5px;
    }
    
  }
}

/* ------------------- breakpoints ------------------- */
/* DESKTOP */
@include desktop {
  .Header {
    height: 180px;
    .infoContent {
      margin: 0;
      padding-top: .5rem;
    }
  }
}


/* PHONE */
@include mobile {
  .Header {
    height: 250px;
    padding: 1rem;
    .contentContainer {
      width: 50%;
      text-align: center;
      display: block;
    }
    .contaktInfomationBox {

      .infoContainer {

        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .infoContent {
          margin: 0;
          padding-top: 1rem;
        }
      }
    }
  }
}

