@import "./../../sass/global.scss";

.BookNow {
  box-shadow: 0px 2px 4px;
  padding: 1rem 0;
  
  .wrapper {
    background-color: $white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 70%;
  }

  .titleText {
    h2 {
      padding: 1.5rem 0;
      span {
        color: $safety-orange-blaze-orange;
      }
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }
  .inputContainer {
    input {
      margin: 0 1rem;
      border-radius: $ButtonRadius;
      border: 1px solid $gainsboro;
      padding: 1rem 0;
      text-indent: 10px;
    }
  }

  // Hider arrows fra telefon input
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
    }

  .buttonStyle {
    background-color: $safety-orange-blaze-orange;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: $ButtonRadius;
    border: 1px solid $safety-orange-blaze-orange;
    font-weight: bold;
    color: $white;
    cursor: pointer;

    &:hover {
      color: $safety-orange-blaze-orange;
      background-color: transparent;
      border: 1px solid $safety-orange-blaze-orange;
    }
  }
}

/* ------------------- breakpoints ------------------- */
/* PHONE */
@include mobile {
  .BookNow {
    .wrapper{
      display: block;
      margin: 0;
    }

    .titleText {
      padding-left: 1rem;
    }

    .inputContainer {
      padding: 1rem 0;
    }

    .buttonStyle {
      margin-left: 1rem;
    }
   
  }
}
