@import "./../../sass/global.scss";

.SidsteNyt {
  margin: 4rem 0;

  .titleContainer {
    text-align: center;

    h2 {
      padding: 4rem 0 1rem 0;
    }
    span {
      color: $safety-orange-blaze-orange;
    }

    p {
      padding-bottom: 2rem;
    }

    .CircleLineContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      #line1 {
        width: 30px; 
        height: 2px;
        background-color: $gainsboro;
      }
      #circle { 
        width: 12px;
        height: 12px;
        background: transparent; 
        border-radius: 50%;
        border: 2px solid $safety-orange-blaze-orange;
        margin: 0 2px;
     }
  
     #line2 {
      width: 30px; 
      height: 2px;
      background-color: $gainsboro;
     }
     
    }
  }

  .contentContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .newsCard {
    position: relative;
    border-top-left-radius: $ButtonRadius;
    border-top-right-radius: $ButtonRadius;
    width: 310px;
    margin: 2% 1%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    .imageContainer {
      img {
        width: 100%;
        border-top-left-radius: $ButtonRadius;
        border-top-right-radius: $ButtonRadius;
      }
    }

    .dateContainer {
      position: absolute;
      clip-path: polygon(50% 64%, 100% 80%, 100% 0, 0 0, 0 79%);
      background-color: $safety-orange-blaze-orange;
      padding: .5rem .3rem 0 .3rem;
      width: 3rem;
      height: 5rem;
      top: 1rem;
      left: 1rem;
      z-index: 1;
    }
    .dateText {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: row;
      flex-wrap: wrap;
      color: $white;
    }

    .textContainer {
      padding: 1rem 1rem;

      h3 {
        padding-bottom: 1rem;
      }

      p {
        color: $sonic-silver;
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  .buttonStyle {
    background-color: $safety-orange-blaze-orange;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: $ButtonRadius;
    border: 1px solid $safety-orange-blaze-orange;
    font-weight: bold;
    color: $white;
    cursor: pointer;

    &:hover {
      color: $safety-orange-blaze-orange;
      background-color: transparent;
      border: 1px solid $safety-orange-blaze-orange;
    }
  }
}

/* ------------------- breakpoints ------------------- */
/* PHONE */
@include mobile {
  .SidsteNyt {
    .newsCard {
      width: 90%;
    }
    .buttonContainer {
      padding-top: 2rem;
    }

  }
}
