@import "./../../sass/global.scss";

.ContactForm {
  padding: 2rem 2rem 2rem 0;
  margin: 4rem 0;
  background-color: $white;
  width: 100%;

  h2 {
    padding-bottom: 0.5rem;
  }
  p {
    color: $sonic-silver;
  }
  .textContainer {
    padding-bottom: 1rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  label {
    display: block;
    padding-bottom: 5px;
  }

  input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: $ButtonRadius;
    border: 1px solid lightgrey;
  }

  input::placeholder,
  textarea::placeholder {
    color: black;
  }

  // Hider arrows fra telefon input
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  textarea {
    padding: 0.5rem 1rem;
    height: 90%;
    width: 100%;
    border-radius: $ButtonRadius;
    resize: none;
    border: 1px solid lightgrey;
  }

  // input:focus,
  // textarea:focus {
  //   outline: #7b9f888b 3px solid;
  // }

  .buttonStyle {
    background-color: $safety-orange-blaze-orange;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: $ButtonRadius;
    font-weight: bold;
    color: $white;
    border: 1px solid $safety-orange-blaze-orange;
    margin-top: 2rem;
    cursor: pointer;

    &:hover {
      color: $safety-orange-blaze-orange;
      background-color: transparent;
      border: 1px solid $safety-orange-blaze-orange;
    }
  }
}

/* ------------------- breakpoints ------------------- */
/* DESKTOP */
@include desktop {
  .ContactForm {
    padding: 0;
  }
}
/* PHONE */
@include mobile {
  .ContactForm {
    form {
      display: flex;
      flex-direction: column;
    }

    .buttonStyle {
      width: 100%;
    }
  }
}
