@import "./../../sass/global.scss";

.Logout {
  padding: 0 10px;

  .buttonContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  button {
    background-color: $safety-orange-blaze-orange;
    padding: .5rem .8rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background-color: darken(($safety-orange-blaze-orange), 10%);
    }
  }

  span {
    padding-right: 10px;
  }
}
