@import "./../../sass/global.scss";

.NoMatch {
    display: grid;
    place-items: center;
    background-color: gainsboro;
    
    h1 {
        padding-top: 2rem;
    }
    img { 
        max-width: 100%;
        object-fit: cover;
    }
}