@import "./../../sass/global.scss";

.VoresTeam {
  background-color: $white;
  padding: 4rem 0;
  .textContainer {
    text-align: center;

    h2 {
      padding: 4rem 0 1rem 0;
    }
    span {
      color: $safety-orange-blaze-orange;
    }

    p {
      padding-bottom: 2rem;
    }

    .CircleLineContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      #line1 {
        width: 30px; 
        height: 2px;
        background-color: $gainsboro;
      }
      #circle { 
        width: 12px;
        height: 12px;
        background: transparent; 
        border-radius: 50%;
        border: 2px solid $safety-orange-blaze-orange;
        margin: 0 2px;
     }
  
     #line2 {
      width: 30px; 
      height: 2px;
      background-color: $gainsboro;
     }
     
    }
  }

  .teamContainer {
    width: 250px;
  }

  .contentContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .imageContainer {
    position: relative;
    z-index: 2;
    overflow: hidden;

    .greyBg {
      position: absolute;
      bottom: 0.25rem;
      right: 1rem;
      left: 1rem;
      height: 75%;
      width: 100%;
      z-index: -1;
      background-color: $platinum;
      clip-path: polygon(51% 55%, 100% 45%, 100% 100%, 0 100%, 0 59%);
    }

    .hoverCard {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: absolute;
      bottom: -100%;
      right: 1rem;
      left: 1rem;
      height: 80%;
      width: 100%;
      z-index: 3;
      background-color: $safety-orange-blaze-orange;
      clip-path: polygon(53% 55%, 100% 45%, 100% 100%, 0 100%, 0 41%);
      transition: all 1s ease-in;
    }

    img {
      max-width: 100%;
      height: auto;
      z-index: 4;
    }
  }
  .teamContainer:hover .hoverCard {
    bottom: 0;
    p{
     margin-bottom: 20%
    }
  }

  .hoverContent {
    text-align: center;
    padding: 2rem 0;
    color: $white;
  }

  .iconcontianer {
    display: flex;

    .iconFa {
      margin-left: .3rem;
    }
  }
}

/* ------------------- breakpoints ------------------- */
/* PHONE */
@include mobile {
  .VoresTeam {
    .teamContainer {
      width: 90%;
    }

    .imageContainer img {
      width: 100%;
    }
  }
}
