@import "./../../sass/global.scss";

.VoresKunder {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(
      180deg,
      rgba(52, 55, 66, 0.725) 66%,
      $independence 66%
    ),
    url("../../assets/image/bgimage.jpg");
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  .textContainer {
    text-align: center;
    padding-top: 6rem;
    color: $white;
    h2 {
      padding-bottom: 2rem;
      span {
        color: $safety-orange-blaze-orange;
      }
    }

    .CircleLineContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      #line1 {
        width: 30px;
        height: 2px;
        background-color: $gainsboro;
      }
      #circle {
        width: 12px;
        height: 12px;
        background: transparent;
        border-radius: 50%;
        border: 2px solid $safety-orange-blaze-orange;
        margin: 0 2px;
      }

      #line2 {
        width: 30px;
        height: 2px;
        background-color: $gainsboro;
      }
    }
  }

  .flexContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .slider-container {
    margin: 0 auto;
    width: 70%;
  }

  .slider-control-centerleft {
    display: none;
  }

  .slider-control-centerright {
    display: none;
  }
  .slider-control-bottomcenter {
    display: none;
  }

  .testimonialCard {
    background-color: $white;
    width: 100%;
    height: auto;
    margin: 4.5rem 1rem;
    text-align: center;
    border-radius: $ButtonRadius;

    .cardContent {
      cursor: grab;
      padding: 0 1rem;
      img {
        border-radius: 50%;
        border: 3px solid $white;
        position: relative;
        left: 0px;
        right: 0px;
        bottom: 50px;
      }
      h2 {
        color: $spanish-red;
        margin-top: -25px;
        padding-bottom: 0.6rem;
      }

      h3 {
        color: $safety-orange-blaze-orange;
        padding-bottom: 0.6rem;
      }

      p {
        color: $black-shadows;
        padding-bottom: 1.2rem;
      }
    }
  }
}

/* ------------------- breakpoints ------------------- */
/* DESKTOP */
@include desktop {
.slider-list {
  width: 600% !important;
  
}
}

/* PHONE */
@include mobile {
  .slider-list {
    width: 1200% !important;
  }
}