@import "./../../../sass/global.scss";

footer {
  background-color: $onyx;

  .footerContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    width: 70%;
    padding: 4rem 0;
    margin: 0 auto;
    color: $gainsboro;

    h4 {
      font-size: 1.2rem;
      padding-bottom: 1rem;
      color: $white;
    }

    p {
      line-height: 2rem;
    }

    ul {
      list-style-type: none;
    }

    li {
      line-height: 2rem;

      &:hover {
        color: $safety-orange-blaze-orange;
        cursor: pointer;
      }
    }

    .listItemContainer li {
      display: flex;
      align-items: center;
    }

    .expand_more {
      transform: rotate(270deg);
    }

    .brandContainer {
      grid-column: 1/2;
    }

    .textContainer {
      grid-column: 1/2;
    }
    .linksContainer {
      grid-column: 2/3;
    }

    .contactContainer {
      grid-column: 3/4;
    }

    .newsLetter {
      grid-column: 4/-1;
    }

    .contactContainer {
      span {
        font-weight: bold;
      }
    }

    .newsLetter {
      .inputContainer {
        padding: 1rem 0;
        input {
          width: 100%;
          border-radius: $ButtonRadius;
          border: 1px solid $gainsboro;
          padding: 1rem 0;
          text-indent: 1rem;
        }

        input::placeholder {
          color: $blackis;
        }
      }

      .buttonStyle {
        background-color: $safety-orange-blaze-orange;
        padding: 1rem 2rem;
        text-transform: uppercase;
        border: none;
        border-radius: $ButtonRadius;
        font-weight: bold;
        color: $white;
        border: 1px solid $safety-orange-blaze-orange;
        cursor: pointer;

        &:hover {
          color: $safety-orange-blaze-orange;
          background-color: transparent;
          border: 1px solid $safety-orange-blaze-orange;
        }
      }
    }
  }

  .flexContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    .copyRight {
      p {
        color: $gainsboro;

        span {
          color: $safety-orange-blaze-orange;
        }
      }
    }

    .iconContainer {
      display: flex;
      text-align: center;
      .icon {
        height: 3rem;
        width: 3rem;
        border: solid 1px lightgray;
        border-radius: 50%;
        margin: 0 .2rem;
        cursor: pointer;
        
        span {
          padding-top: 25%;
          color: $white;
        }
      }
    }
  }
}

/* ------------------- breakpoints ------------------- */
/* DESKTOP */
@include desktop {
  footer {
    .footerContent {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      .gridContainer {
        padding: 1rem 0;
      }
      .linksContainer {
        padding: 1rem 0;
      }
      .contactContainer{
        padding: 1rem 0;
      }
      .newsLetter {
        padding: 1rem 0;

        .inputContainer {
          width: 50%;
        }
      }
    }
  }
}

/* PHONE */
@include mobile {
  footer {
    .footerContent {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      .gridContainer {
        padding: 1rem 0;
      }
      .linksContainer {
        padding: 1rem 0;
      }
      .contactContainer{
        padding: 1rem 0;
      }
      .newsLetter {
        padding: 1rem 0;
        .inputContainer {
          width: 100%;
        }
      }
    }

    .flexContainer {
      width: 100%;
      padding: 1rem;
    }
  }
}
