@import "./../../sass/global.scss";

.Accordion {
  width: 70%;
  margin: 2rem auto;
  padding: .5rem 0;
  .accordionTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: $safety-orange-blaze-orange;
  }

  .accordionTitle:hover {
    background-color: #d7d7d7;
  }

  .accordionTitle,
  .accordionContent {
    padding: 1rem;
  }

  .accordionContent {
    background-color: $white;
    border: 1px solid $gainsboro;
    border-bottom-left-radius: $ButtonRadius;
    border-bottom-right-radius: $ButtonRadius;
    p{
      color: $sonic-silver;
    }
  }
}