.Admintourscreate {
  width: 100%;
  padding: 10px;
  
  div {
    padding: 10px;
  }

  label {
    display: block;
    padding: 10px;
    font-size: 1.1rem;
  }
  div.quill {
    width: 80%;
  }

  input {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(168, 168, 168);
  }

  textarea {
    width: 80%;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgb(168, 168, 168);
    resize: none;
  }

    // Hider arrows fra telefon input
    // Chrome, Safari, Edge, Opera 
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
    }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: rgb(100, 34, 34);
    outline: 1px solid rgb(60, 124, 188);
  }

  .opret {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    padding: .4rem .4rem;
    font-weight: bold;
    background-color: #78f94d;
    cursor: pointer;

    span {
      padding-left: 8px;
    }

    &:hover {
      background-color: #78f94d96;
    }

  }

}
