@import "./../../sass/global.scss";

.Slider {
  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;

    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
      filter: brightness(60%);
    }
  }

  .containerContent {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -50px;
    padding: 0 2rem;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
  }

  /* Caption text */
  .text {
    color: $white;
    padding: 8px 12px;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    p {
      font-size: 1.5rem;

      span {
        font-size: 4rem;
      }
    }
  }
  
  .animation {
    animation: scale-in-hor-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .SliderButton {
    background-color: $safety-orange-blaze-orange;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: $ButtonRadius;
    border: 1px solid $safety-orange-blaze-orange;
    font-weight: bold;
    color: $white;
    margin-top: 2rem;
    cursor: pointer;
	  animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  }

  .SliderButton:hover {
    color: $safety-orange-blaze-orange;
    background-color: transparent;
    border: 1px solid $safety-orange-blaze-orange;
  }
}

/* https://animista.net/ */
/* ----------- keyfrems ------------- */

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

/* ------------------- breakpoints ------------------- */
/* DESKTOP */
@include mobile {
  .Slider {
    .prev,
  .next {
    font-size: 2.5rem;
  }
  }
}