@import "./../../sass/global.scss";

.Slider {
  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;

    img {
      width: 100%;
      object-fit: cover;
      filter: brightness(60%)
    }
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -50px;
    padding: 0 2rem;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
  }

  /* Caption text */
  .text {
    color: $white;
    padding: 8px 12px;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    p {
      font-size: 1.5rem;

      span {
        font-size: 4rem;
      }
    }
  }

  .SliderButton  {
    background-color: $safety-orange-blaze-orange;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: $ButtonRadius;
    font-weight: bold;
    color: $white;
    margin-top: 2rem;
    cursor: pointer;
  }

  .SliderButton:hover {
    color: $safety-orange-blaze-orange;
  }
}
